<div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
  <div fxFlex="100" fxLayoutAlign="center">
    <mat-card class="matx-light-purple" fxFlex="100">
      <mat-card-header>
        <mat-card-title>Item de la Factura</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form [formGroup]="crearDetalleFacturaForm">
          <div fxLayout="column">
          <div fxLayout="column" fxFlex="100">
            <mat-form-field appearance="outline" class="column is-12">
              <mat-label>Producto</mat-label>
              <mat-select formControlName="product" (selectionChange)="seleccionarProducto($event)">
                <mat-option *ngFor="let producto of productos$" [value]="producto">
                  {{producto.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="product.invalid">
                {{getProductoInputError()}}
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxFlex="100">
          <mat-form-field appearance="outline" class="column is-12">
            <mat-label>Cantidad</mat-label>
            <input formControlName="cantidad" matInput placeholder="Cantidad" type="number">
            <mat-error *ngIf="cantidad.invalid">
              {{getMinimoInputError()}}
            </mat-error>
          </mat-form-field>
          </div>

          <div fxLayout="column" fxFlex="100">
            <mat-form-field appearance="outline" class="column is-12">
              <mat-label>Valor unitario</mat-label>
              <input formControlName="valor" matInput placeholder="Valor unitario" type="number">
              <mat-error *ngIf="valor.invalid">
                {{getMaximoInputError()}}
              </mat-error>
            </mat-form-field>
            </div>


          <div fxLayout="column" fxFlex="100">
            <mat-form-field appearance="outline" class="column is-12">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="observaciones" placeholder="Observaciones">
                </textarea>
              <mat-error *ngIf="observaciones.invalid">
                {{getObservacionesInputError()}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="column is-12" fxLayoutAlign="center" fxLayoutGap="15px">
            <button color="primary" mat-flat-button type="button" [disabled]="crearDetalleFacturaForm.invalid"
              (click)="saveDetalleFactura()">Registrar</button>
            <button color="primary" mat-flat-button type="button" (click)="finalizarCrearFactura()" [disabled]="!enableEnviarFactura">Terminar</button>
          </div>
</div>
        </form>
      </mat-card-content>
    </mat-card>
    </div>
    </div>

